{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.images) }}
    
    {#<div id="my-dropzone" class="dropzone"></div>#}

    {{ form_widget(form._token) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}
