{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}


{% form_theme form _self %}

{% block _product_images_entry_row %}
    {% set image = form.vars.value %}

    <div>
        {{ form_row(form.id) }}
        <img src="{{ vich_uploader_asset(image) }}" alt="{{ image.imageName }}" width="150">
    </div>
{% endblock %}


{% block body %}
    <h1>Edit Product</h1>

    {#
    <div data-controller="hello"></div>
    <div {{ react_component('Hello', { fullName: 'Fabien' }) }}></div>
    #}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.newImages) }}
        {{ form_row(form.images) }}

        {#<div id="my-dropzone" class="dropzone"></div>#}

        {{ form_widget(form._token) }}

        <button class="btn">Update</button>
    {{ form_end(form, {'render_rest': false}) }}

    <a href="{{ path('app_product_index') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
