{% extends 'base.html.twig' %}

{% block title %}{{ 'product.edit'|trans }}{% endblock %}

{#
{% form_theme form _self %}

{% block _product_images_entry_row %}
    {% set image = form.vars.value %}

    <div>
        {{ form_row(form.id) }}
        <img src="{{ vich_uploader_asset(image) }}" alt="{{ image.imageName }}" width="150">
    </div>
{% endblock %}
#}

{% block content %}
    <h1>{{ 'product.edit'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.newImages) }}

        <div {{ react_component('ProductImages', { images: images }) }}></div>

        {{ form_widget(form._token) }}

        <button class="btn" name="save">{{ 'save'|trans }}</button>
    {{ form_end(form, {'render_rest': false}) }}

    <a href="{{ path('app_product_index') }}" class="link">{{ 'back_to_list'|trans }}</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
