{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block content %}
    <div class="flex justify-between pb-4">
        <h1>{{ 'products'|trans }}</h1>
        <a href="{{ path('app_product_new') }}" class="btn inline-flex items-center justify-center">
            <svg class="w-8 h-6 me-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
            <span class="w-full">{{ 'create'|trans }}</span>
        </a>
    </div>

    {{ include('product/_form_search.html.twig') }}

    <div class="relative overflow-x-auto">
        <div class="count">
            {{ 'number_of_element'|trans }}: {{ pagination.getTotalItemCount }}
        </div>

        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 {% if pagination.isSorted('p.name') %}sorted{% endif %}">
                        {{ knp_pagination_sortable(pagination, 'name'|trans, 'p.name') }}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        {{ 'tags'|trans }}
                    </th>
                    <th scope="col" class="px-6 py-3 {% if pagination.isSorted('p.createdAt') %}sorted{% endif %}">
                        {{ knp_pagination_sortable(pagination, 'created_at'|trans, 'p.createdAt') }}
                    </th>
                    <th scope="col" class="px-6 py-3 {% if pagination.isSorted('p.updatedAt') %}sorted{% endif %}">
                        {{ knp_pagination_sortable(pagination, 'updated_at'|trans, 'p.updatedAt') }}
                    </th>
                    <th scope="col" class="px-6 py-3">{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for product in pagination %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ product.name }}
                    </th>
                    <td class="px-6 py-4">
                        {% if product.tags is not empty %}
                            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                                {{ product.tags|map(p => "<li>#{p.name}</li>")|join|raw }}
                            </ul>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        {{ product.createdAt ? product.createdAt|date('d/m/Y H:i:s') : '' }}
                    </td>
                    <td class="px-6 py-4">
                        {{ product.updatedAt ? product.updatedAt|date('d/m/Y H:i:s') : '' }}
                    </td>
                    <td class="px-6 py-4">
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="link">{{ 'edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pt-4 flex justify-end">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
