{% extends 'base.html.twig' %}

{% block title %}{{ 'product.new'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'product.new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.newImages) }}

        <button class="btn" name="save">{{ 'save'|trans }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_product_index') }}" class="link">{{ 'back_to_list'|trans }}</a>
{% endblock %}
